<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552965138889-k0kak5a6ug3v6kp97en208b9gf5vdhrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552965138889-k0kak5a6ug3v6kp97en208b9gf5vdhrp</string>
	<key>API_KEY</key>
	<string>AIzaSyDbPdySxdxOxrx4Gw7PS6RP23xAl5LZdi0</string>
	<key>GCM_SENDER_ID</key>
	<string>552965138889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sep.HealthNerd</string>
	<key>PROJECT_ID</key>
	<string>healthnerd-app</string>
	<key>STORAGE_BUCKET</key>
	<string>healthnerd-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552965138889:ios:59a196085d9ad393baa018</string>
	<key>DATABASE_URL</key>
	<string>https://healthnerd-app.firebaseio.com</string>
</dict>
</plist>